@font-face {
    font-family: "KolkerBrush-Regular";
    src: url("KolkerBrush-Regular.eot"); /* IE9 */
    src: url("KolkerBrush-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("KolkerBrush-Regular.woff") format("woff"), /* chrome、firefox */
    url("KolkerBrush-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("KolkerBrush-Regular.svg#KolkerBrush-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


