@import url('./logo/KolkerBrush-Regular-embed.css');
@import url('./logo/KolkerBrush-Regular.css');
@import url('./title/LiuJianMaoCao-Regular-embed.css');
@import url('./title/LiuJianMaoCao-Regular.css');
@import url('./theme.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  width: 100%;
  height: 100%;
}
.logo {
  font-family: 'KolkerBrush-Regular';
  font-size: 38px;
}
.title {
  font-family: 'LiuJianMaoCao-Regular';
}